.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin: auto auto 40px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:300px;
}
.row-content-aboutus {
    margin:0px auto;
    padding: 0px;
    
    min-height:100px;
}

.footer{
    background-color: #D1C4E9;
    margin:30px 0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:#750080 ;
    color: floralwhite;

    
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding: 50px 0px  0px 0px ;
    z-index: 0;
}

.navbar-dark{
    background-color: #512DA8;
}

.bg-yellow{
    background-color:#f1bc0d!important
}


input[type="date"]::before{
    content: attr(placeholder)" : ";
    white-space: pre;
 }
 input[type="date"]:focus::before {
    content:""!important;
 }


 input[type="time"]::before{
    content: attr(placeholder)" : ";
    white-space: pre;
 }
 input[type="time"]:focus::before {
    content:""!important;
 }